@{
    ViewData["Title"] = "Home Page";
}
@model ErrorViewModel

<div class="text-center">
    @foreach (var item in Model.Images)
    {
        <h1 class="display-4">@item</h1>
        <img src="@Model.Path/@item" />
    }
    @foreach (var item in Model.Images)
    {
        <h1 class="display-4">@item</h1>

    }
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Welcome</h1>
</div>
